<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
{{if .Method}}<h1>The Request method is: {{.Method}}</h1>{{end}}
{{if .Url}}
<p>About URL</p>
<ul>
    <li>Scheme - {{.Url.Scheme}}</li>
    <li>Opaque - {{.Url.Opaque}}</li>
    <li>Host - {{.Url.Host}}</li>
    <li>Path - {{.Url.Path}}</li>
    <li>RawPath - {{.Url.RawPath}}</li>
    <li>ForceQuery - {{.Url.ForceQuery}}</li>
    <li>RawQuery - {{.Url.RawQuery}}</li>
    <li>Fragment - {{.Url.Fragment}}</li>
    <li>RawFragment - {{.Url.RawFragment}}</li>
</ul>
{{end}}
<p>This is the form data</p>
<ul>
    {{range $key, $value := .QParams}}
    <li>
        <strong>{{$key}}</strong>
        <ul>
            {{range $value}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </li>
    {{end}}
    <form action="/?fname=nani" method="post">
        <input type="text" name="fname" autofocus>
        <input type="text" name="lname" autofocus>
        <input type="submit" value="submit">
    </form>
</ul>
</body>
</html>